<body>
    <sidebar>
        <header>
            <h1>{{ Project name }}</h1>
        </header>
        <list class="heiarchy"> 
        </list>
    </sidebar>

    <content>
        <header>
            <h1>{{ Project name }}</h1>
        </header>
        <main>
            {{ main_content }}
        </main>
    </content>
    
    <footer>
        {{ footer_text }}
    </footer>
</body>