<!DOCTYPE html>
<html>
<head>
    {{ .Style }}
</head>
<body>
    <sidebar>
        <header>
            <h1>{{ .Title }}</h1>
        </header>
        <list class="heiarchyList"> {{ range .Heirchierchy }}
            <li>{{ . }}</li>
        {{ end }}
        </list>
    </sidebar>

    <content>
        <header>
            <h1></h1>
        </header>
        <main>
            <p>{{ .Message }}</p>
        </main>
    </content>
    
    <footer>
    </footer>
</body>
</html>