<html>
<head>
</head>
<body>
    <sidebar>
        <header>
            <h1>{{ .Title }}</h1>
        </header>
        <list class="heiarchyList"> 
        </list>
    </sidebar>

    <content>
        <header>
            <h1></h1>
        </header>
        <main>

        </main>
    </content>
    
    <footer>
    </footer>
</body>
</html>