<html>
<head>
    <style type="text/css">
        body {
            display : flex;
            flex-direction: row;
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }
        sidebar {
            flex-direction: column;
            width: 200px;
            float: left;
            background-color: #f4f4f4;
            padding: 20px;
        }
        content {
            flex-direction: column;
            margin-left: 220px;
            padding: 20px;
        }
        header h1 {
            color: #333;
        }
        list.heiarchyList {
            list-style-type: disc;
            padding: 4px;
        }
        list.heiarchyList li {
            margin-bottom: 10px;
        }
    </style>
</head>
<body>
    <sidebar>
        <header>
            <h1>{{ .Title }}</h1>
        </header>
        <list class="heiarchyList"> {{ range .Heirchierchy }}
            <li>{{ . }}</li>
        {{ end }}
        </list>
    </sidebar>

    <content>
        <header>
            <h1></h1>
        </header>
        <main>
            <p>{{ .Message }}</p>
        </main>
    </content>
    
    <footer>
    </footer>
</body>
</html>